* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: yellowgreen;
}

h1{
    color: blue;
    background-color: yellow;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

h2{
    color: red;
    background-color: aqua;
    margin: 10px 10px 30px 40px;
}

h3{
    color: purple;
    background-color: gray;
    margin: 50px 50px;
}

h4{
    color: green;
    background-color: violet;
    margin: 0 35px 60px 80px;
}