body{
    display: flex;
    flex-wrap: wrap;
}
.quadro1{
    background-image: linear-gradient(red, blue);
    width: 400px;
    height: 200px;
}

.quadro2{
    background-image: linear-gradient(to left, green, blue, black);
    width: 400px;
    height: 200px;
}

.quadro3{
    background-image: linear-gradient(45deg,yellow, blue);
    width: 400px;
    height: 200px;
}

.quadro4{
    background-image: linear-gradient(90deg, white 70%, red);
    width: 400px;
    height: 200px;
}

.quadro5{
    background-image: radial-gradient(red 20%, white 10%);
    width: 400px;
    height: 200px;
    border: 1px solid black;
}