*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

h1 {
    color: black;
    border: 1px solid #ff0000;
    text-align: center;
    margin: 20px 10px;
    border-radius: 10px;
    background-color: yellow;
}

h1:hover{
    background-color: aliceblue;
    color: blue;
}