body{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 6fr;
    column-gap: 10px;
    row-gap: 30px;
}

.item{
    background-color: #048;
    color: #fff;
    border: 1px solid #000;
    text-align: center;
}

